### Observação !!!
Nessas anotações foi utilizada a biblioteca pymongo para manipular o banco de dados por meio do Pyton. Essas anotações foram feitas durante a leitura dos seguintes pousts:

### Referencias:
* [CRUD operations in MongoDB using python](https://medium.com/analytics-vidhya/crud-operations-in-mongodb-using-python-49b7850d627e)
* [MongoDB Manual](https://www.mongodb.com/docs/manual/core/document/)

In [1]:
import pymongo

### Introdução

MongoDB stores data records as BSON documents. BSON is a binary representation of JSON documents, though it contains more data types than JSON.

### Conexão com o servidor

In [2]:
# Vamos definir uma variável chamada connection_url
# para armazenar a URL de conexão do MongoDB
connection_url = "mongodb://localhost:27017" # 27017 é o numero de porta padrão para o mongodb

In [3]:
# Para se conectar com o MongoDB server, nos vammos
# usar o MongoClient.
client = pymongo.MongoClient(connection_url)

### Lendo o nome das bases de dados

In [4]:
# Usando o objeto cliente, nos podemos acessar as
# bases de dados. Para isso usamos o
# list_database_names().
print(client.list_database_names())

['Reconhecimento_Facial', 'admin', 'amigos_da_comunidade', 'config', 'local', 'student_database', 'teste_bd']

### Criando base de dados

In [5]:
# Voce pode criar uma base de dados usando o comando
# a baixo.
database_name = "student_database"
student_db = client[database_name]

In [6]:
# A base de dados so podera ser visivel caso
# voce adicione algum documento a ele.
# Para criar um documento precisamos criar uma coleção
#  onde vamos armazena o documento.
collection_name = "computer science"
collection = student_db[collection_name]

### Ler as coleções dentro das bases de dados

In [7]:
# ?? É possivel ver a lista de collections na base de dados
# usando o seguinte comando ??
print(student_db.list_collection_names())

['test_sort', 'computer science']

### Inserir documentos nas coleções

In [8]:
# Inserir documentos nas coleções
# Podemos fazer isso de duas formas
# 1. Inserirndo apenas um documento na coleção
# 2. Inserindo varios documentos na coleção

# Para o 1° caso usamos o comando inser_one()
document = {'Name':'Raj',
            'Roll No': 153,
            'Branch': 'CSE'}
collection.insert_one(document)

In [9]:
#Inserir varios
documents = [{'Name':'Raj','Roll No': 153,
            'Branch': 'CSE'},{'Name':'Jeands',
            'Roll No': 50,'Branch': 'BRA'},
             {'Name':'Folote','Roll No': 70,
            'Branch': 'EUA'}]
collection.insert_many(documents)

### Como contar o número total de documentos na coleção

In [10]:
collection.count_documents({})

21

In [11]:
database_name = "student_database"
student_db = client[database_name]
collection_name = "teste_0_documents"
collection = student_db[collection_name]

In [12]:
collection.count_documents({})

0

### Ler (Recuperar)

Um usuario tambem pode dar um id_customizado ao inserir o documento. Recuperar dados de uma coleção.

A recuperação de dados pode ser feita de duas maneiras:
  1. Recuperando apenas um documento
  2. Recuperando varios documentos

In [13]:
database_name = "student_database"
student_db = client[database_name]
collection_name = "computer science"
collection = student_db[collection_name]

In [14]:
# No primeiro caso usamo o comando find_one(), e
# fornecemos parametros paraconsultar do documento
# esperado.
query = {"Name":"Raj"}
print(collection.find_one(query))

{'_id': ObjectId('632af6207452b0aa54c6ea7f'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}

In [21]:
# No seguindo caso usamos o comando find_many(), o
# retorno dessa função é um objeto cursor, sendo assim
# podemos usar um loop para acessar as informações:
query = {"Branch":"BRA"}
result = collection.find(query)
dict_result = list(result)
for i in dict_result:
    print(i)

{'_id': ObjectId('61f541cb8d5d0fac2d7b89e9'), 'Name': 'Jeands', 'Roll No': 50, 'Branch': 'BRA'}
{'_id': ObjectId('632af6267452b0aa54c6ea81'), 'Name': 'Jeands', 'Roll No': 50, 'Branch': 'BRA'}
{'_id': ObjectId('632afa9b7452b0aa54c6ea86'), 'Name': 'Jeands', 'Roll No': 50, 'Branch': 'BRA'}
{'_id': ObjectId('632e7111ae97f78cc40e75f9'), 'Name': 'Jeands', 'Roll No': 50, 'Branch': 'BRA'}
{'_id': ObjectId('632f527ac2fa228d2b529508'), 'Name': 'Jeands', 'Roll No': 50, 'Branch': 'BRA'}

In [27]:
print(type(dict_result[0]))

<class 'dict'>

In [16]:
# Você pode itilisar como filtro os operadores gt,
# lt, eq e etc.
#"$eq" = Valor iguala ao especificado
query = {"Roll No":{"$eq":153}}
print(collection.find_one(query))

{'_id': ObjectId('61f3ee3f57be86eefac5ad59'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}

In [17]:
#"$gt" =  Maior que o valor especificado
query = {"Roll No":{"$gt":50}}
print(collection.find_one(query))

{'_id': ObjectId('61f3ee3f57be86eefac5ad59'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}

In [18]:
#"$gte" =  Maior ou igual ao valor especificado
query = {"Roll No":{"$gte":153}}
print(collection.find_one(query))

{'_id': ObjectId('61f3ee3f57be86eefac5ad59'), 'Name': 'Raj', 'Roll No': 153, 'Branch': 'CSE'}

In [19]:
#"$lt" =  Menor que o valor especificado
query = {"Roll No": {"$lt":70}}
print(collection.find_one(query))

{'_id': ObjectId('61f3ee3f57be86eefac5ad5b'), 'Name': 'Jeands', 'Roll No': 50, 'Branch': 'BRA'}

In [20]:
#"$lte" =  Menor ou igual ao valor especificado
query = {"Roll No": {"$lte":50}}
print(collection.find_one(query))

{'_id': ObjectId('61f3ee3f57be86eefac5ad5b'), 'Name': 'Jeands', 'Roll No': 50, 'Branch': 'BRA'}

### Obter os ducmentos de maneira ordenada

In [40]:
database_name = "student_database"
student_db = client[database_name]
collection_name = "test_sort"
collection = student_db[collection_name]

In [41]:
documents = [{'nome': 'Jeands','idade': 22},
             {'nome': 'Gabriel','idade': 19},
             {'nome': 'Italo','idade': 20}]
collection.insert_many(documents)

In [43]:
collection.count_documents({})

3

### Decrescente

In [54]:
result = collection.find().sort("idade", pymongo.DESCENDING)

In [56]:
for i in result:
    print(i)

{'_id': ObjectId('632afb797452b0aa54c6ea88'), 'nome': 'Jeands', 'idade': 22}
{'_id': ObjectId('632afb797452b0aa54c6ea8a'), 'nome': 'Italo', 'idade': 20}
{'_id': ObjectId('632afb797452b0aa54c6ea89'), 'nome': 'Gabriel', 'idade': 19}

### Crescente

In [59]:
result = collection.find().sort("idade", pymongo.ASCENDING)

In [60]:
for i in result:
    print(i)

{'_id': ObjectId('632afb797452b0aa54c6ea89'), 'nome': 'Gabriel', 'idade': 19}
{'_id': ObjectId('632afb797452b0aa54c6ea8a'), 'nome': 'Italo', 'idade': 20}
{'_id': ObjectId('632afb797452b0aa54c6ea88'), 'nome': 'Jeands', 'idade': 22}

### Mostrar apenas o primeiro

In [67]:
result = collection.find().sort("idade", pymongo.ASCENDING).limit(1)

In [68]:
print(result[0])

{'_id': ObjectId('632afb797452b0aa54c6ea89'), 'nome': 'Gabriel', 'idade': 19}

### Atuializar

Atualizar o documento dentro da coleção Podemos atualizar de duas foras:
  1. Atualizando um unico documento
  2. Atualizando varios documentos

In [21]:
# Um documento:
# Para atualizar precisamos de 2 parametros, o
# o primeiro parametro é o resultado da consulta
# realizada do documento que deseja atualizar e o
# segundo é o parametro de atualização.
query = {"Roll No":{"$eq":153}}
present_data = collection.find_one(query)
new_data = {'$set':{"Name":'Jeronimo'}}
collection.update_one(present_data,new_data)

In [22]:
# Muitos documentos
present_data = {"Branch":"CSE"}
new_data = {"$set":{"Branch":'ECE'}}
collection.update_many(present_data,new_data)

### Remover

Remover um documento de uma coleção Podemos remover um document de duas formas: 
  1. Removendo 1 documento
  2. Atualizando varios documentos

In [23]:
#Remover um:
query = {"Roll No": 153}
collection.delete_one(query)

In [24]:
# Revomer varios:
query = {"Branch":"CSE"}
collection.delete_many(query)

In [25]:
# Removendo a coleção de dados
# Basta apenas usar o comando .drop()
collection.drop()

### Verificar a quantidade de ram consumida por sua coleção e indices
O MongoDB tem um melhor desempenho quando sua coleção e índices mais utilizados cabem completamente anmemória RAM do seu servidor. Vara verificar o consumo utilizamos a função stats()